<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Do not rewrite direct public folder requests.
    RewriteRule ^public/ - [L,NC]

    # Route all other requests into the Laravel public folder.
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ public/$1 [L,NC]
</IfModule>
